.advantages {
  padding-top: 50px;
  padding-bottom: 25px;

  @include tablet {
    padding-top: 90px;
    padding-bottom: 45px;
  }

  @include laptop {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 150px;
    padding-bottom: 75px;
  }

  &__title {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include laptop {
      margin-bottom: 60px;
    }
  }

  &__subtitle {
    margin-bottom: 52px;
    max-width: 380px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include laptop {
      margin-bottom: 60px;
      max-width: 540px;
    }

    @include desktop {
      margin-bottom: 80px;
      max-width: 580px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      'item01 item02'
      'item03 item04'
      'item05 item06';
    gap: 25px 10px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        'item01 item02 item03'
        'item04 item05 item06';
      gap: 40px 20px;
    }

    @include laptop {
      gap: 57px 20px;
    }

    @include desktop {
      gap: 60px 20px;
    }
  }

  &__item {
    position: relative;
    padding-top: 62px;

    @include laptop {
      padding-top: 64px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      background-color: $secondary;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 17px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
    }
  }

  &__item-title {
    margin-bottom: 15px;

    @include laptop {
      margin-bottom: 20px;
    }
  }
}

.item-01 {
  grid-area: item01;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_161)'%3E%3Cpath d='M20 0C8.94609 0 0 8.94508 0 20C0 31.0539 8.94508 40 20 40C31.0539 40 40 31.0549 40 20C40 8.94609 31.0549 0 20 0ZM20 37.3334C10.4424 37.3334 2.66664 29.5577 2.66664 20C2.66664 10.4423 10.4424 2.66664 20 2.66664C29.5576 2.66664 37.3334 10.4424 37.3334 20C37.3334 29.5576 29.5576 37.3334 20 37.3334Z' fill='%23303030'/%3E%3Cpath d='M26.6138 11.6066L16.9013 16.2776C16.6286 16.4086 16.4086 16.6286 16.2775 16.9013L11.6066 26.614C11.0619 27.7467 12.2529 28.9386 13.3861 28.3934L23.0987 23.7225C23.3714 23.5914 23.5914 23.3715 23.7225 23.0987L28.3934 13.3861C28.9379 12.2536 27.7474 11.0614 26.6138 11.6066ZM21.5217 21.5218L15.6584 24.3415L18.4782 18.4783L24.3414 15.6585L21.5217 21.5218Z' fill='%23303030'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_161'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.item-02 {
  grid-area: item02;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.7031 9.45312H27.4219V6.71875C27.4219 4.78023 25.8448 3.20312 23.9062 3.20312H16.0938C14.1552 3.20312 12.5781 4.78023 12.5781 6.71875V9.45312H4.29688C1.92758 9.45312 0 11.3807 0 13.75V32.5C0 34.8693 1.92758 36.7969 4.29688 36.7969H35.7031C38.0724 36.7969 40 34.8693 40 32.5V13.75C40 11.3807 38.0724 9.45312 35.7031 9.45312ZM14.9219 6.71875C14.9219 6.07258 15.4476 5.54688 16.0938 5.54688H23.9062C24.5524 5.54688 25.0781 6.07258 25.0781 6.71875V9.45312H14.9219V6.71875ZM6.25 34.4531H4.29688C3.21992 34.4531 2.34375 33.577 2.34375 32.5V13.75C2.34375 12.673 3.21992 11.7969 4.29688 11.7969H6.25V34.4531ZM31.4062 34.4531H8.59375V11.7969H11.5455C11.3011 12.3923 11.1784 13.0118 11.182 13.6525C11.1902 15.1012 11.8616 16.2878 12.3637 16.9744L11.1098 19.9098C10.965 20.249 10.9882 20.6366 11.1727 20.9561L15.4695 28.3985C15.6866 28.7745 16.0805 28.9847 16.4855 28.9847C16.6842 28.9847 16.8858 28.9341 17.0703 28.8274L22.483 25.7024C22.7521 25.547 22.9485 25.291 23.029 24.9909C23.1094 24.6907 23.0673 24.3708 22.9119 24.1016L18.615 16.6592C18.4306 16.3398 18.1065 16.1259 17.7403 16.0816L14.3128 15.6687C14.0149 15.2802 13.5306 14.5148 13.5257 13.6394C13.5221 13.003 13.7654 12.397 14.2651 11.797H31.4062V34.4531ZM13.4953 20.2916L14.4544 18.0465L16.8783 18.3384L20.2962 24.2585L16.9133 26.2116L13.4953 20.2916ZM37.6562 32.5C37.6562 33.577 36.7801 34.4531 35.7031 34.4531H33.75V11.7969H35.7031C36.7801 11.7969 37.6562 12.673 37.6562 13.75V32.5Z' fill='%23303030'/%3E%3Cpath d='M25.4688 21.1719C27.4073 21.1719 28.9844 19.5948 28.9844 17.6562C28.9844 15.7177 27.4073 14.1406 25.4688 14.1406C23.5302 14.1406 21.9531 15.7177 21.9531 17.6562C21.9531 19.5948 23.5302 21.1719 25.4688 21.1719ZM25.4688 16.4844C26.1149 16.4844 26.6406 17.0101 26.6406 17.6562C26.6406 18.3024 26.1149 18.8281 25.4688 18.8281C24.8226 18.8281 24.2969 18.3024 24.2969 17.6562C24.2969 17.0101 24.8226 16.4844 25.4688 16.4844Z' fill='%23303030'/%3E%3C/svg%3E%0A");
  }
}

.item-03 {
  grid-area: item03;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.8516 5.09313C29.0623 4.41406 25.5727 2.34469 23.8299 1.17164C22.6913 0.405156 21.367 0 20.0001 0C18.6332 0 17.3089 0.405156 16.1703 1.17164C14.4275 2.34469 10.938 4.41414 7.14876 5.0932C4.90454 5.49531 3.27563 7.43711 3.27563 9.71016V19.1405C3.27563 22.2559 4.1472 25.2929 5.86618 28.167C7.21095 30.4155 9.07431 32.5645 11.4043 34.5543C15.322 37.9 19.2014 39.6447 19.3646 39.7173L20.0001 40L20.6357 39.7173C20.7989 39.6447 24.6783 37.9 28.596 34.5543C30.926 32.5645 32.7893 30.4155 34.1342 28.167C35.8531 25.2928 36.7247 22.2559 36.7247 19.1405V9.71008C36.7247 7.43703 35.0958 5.49523 32.8516 5.09313ZM33.5985 19.1405C33.5985 23.785 31.2521 28.1541 26.6245 32.1267C23.9345 34.4359 21.2034 35.9411 20.0002 36.552C17.2345 35.1467 6.40165 29.0101 6.40165 19.1405V9.71008C6.40165 8.95266 6.94774 8.305 7.70017 8.17016C12.0531 7.39008 15.9692 5.07523 17.9159 3.76492C18.5367 3.34703 19.2575 3.12609 20.0001 3.12609C20.7427 3.12609 21.4634 3.34703 22.0842 3.765C24.031 5.07531 27.947 7.39016 32.2999 8.17031C33.0523 8.30516 33.5985 8.95273 33.5985 9.71023V19.1405Z' fill='%23303030'/%3E%3Cpath d='M17.5793 23.0024L12.2371 18.001L10.1006 20.283L17.7808 27.4734L29.9977 13.7738L27.6646 11.6932L17.5793 23.0024Z' fill='%23303030'/%3E%3C/svg%3E%0A");
  }
}

.item-04 {
  grid-area: item04;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_193)'%3E%3Cpath d='M36.9086 3.09082C34.9167 1.09772 32.2668 0 29.4485 0C26.6299 0 23.981 1.09772 21.9882 3.09082L12.5394 12.5394L3.09021 21.9891C1.09772 23.9822 0 26.6321 0 29.4498C0 32.2675 1.09772 34.9173 3.09021 36.9092C5.08209 38.9023 7.73193 40 10.5502 40C13.3685 40 16.0178 38.9023 18.0103 36.9092L27.4594 27.4606L36.9086 18.0109C38.9011 16.0178 39.9985 13.3679 39.9985 10.5502C39.9985 7.73254 38.9011 5.0827 36.9086 3.09082ZM16.0211 34.92C14.5593 36.3815 12.6163 37.1869 10.5502 37.1869C8.48328 37.1869 6.54083 36.3818 5.07935 34.92C3.61786 33.4583 2.81342 31.5161 2.81342 29.4501C2.81342 27.384 3.61847 25.4401 5.07935 23.9786L13.5339 15.5234L24.4757 26.4664L16.0211 34.92ZM34.9194 16.0217L26.4648 24.4769L15.5231 13.5339L23.9777 5.07996C25.4391 3.61847 27.3822 2.81311 29.4485 2.81311C31.5152 2.81311 33.4576 3.61816 34.9191 5.07996C36.3806 6.54175 37.1851 8.48389 37.1851 10.5499C37.1851 12.616 36.3803 14.5599 34.9194 16.0217Z' fill='%23303030'/%3E%3Cpath d='M33.2104 9.48544C32.7618 9.48544 32.3208 9.27121 32.0483 8.87418C31.39 7.91257 30.3042 7.33975 29.1427 7.33975C28.2031 7.33975 27.3205 7.70505 26.6555 8.37003C26.1059 8.91934 25.2157 8.91934 24.6664 8.37003C24.1171 7.8204 24.1171 6.93021 24.6664 6.38089C25.8624 5.1843 27.4517 4.52634 29.1427 4.52634C31.2329 4.52634 33.1869 5.55661 34.3698 7.2836C34.8086 7.92477 34.6453 8.80002 34.0038 9.23978C33.7612 9.40579 33.4844 9.48544 33.2104 9.48544Z' fill='%23303030'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_193'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.item-05 {
  top: -3px;
  grid-area: item05;

  @include tablet {
    top: 0;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_154)'%3E%3Cpath d='M37.2001 16.315C39.0239 14.4908 40.0186 12.0654 40.0006 9.48553C39.9826 6.90608 38.9537 4.49436 37.1032 2.69452C35.2704 0.911713 32.8432 -0.0448471 30.267 0.00234031C27.6887 0.049059 25.2941 1.09437 23.5242 2.94554C21.9883 4.55202 21.0562 6.65787 20.8998 8.87521C20.8801 9.15451 20.8498 9.43146 20.8105 9.70592C18.6963 8.27912 16.5717 7.21498 14.7015 6.65959C11.2574 5.6367 9.45158 6.50483 8.5433 7.41326C7.00104 8.95576 6.93385 11.6922 8.34604 15.1343C6.61737 15.776 5.07425 16.7669 3.75402 18.0874C-1.25004 23.0923 -1.25004 31.2359 3.75402 36.2409C6.17823 38.6655 9.40135 40.0007 12.8298 40.0007C16.2581 40.0007 19.4812 38.6654 21.9055 36.2409C23.2069 34.9392 24.218 33.3626 24.8576 31.6484C26.5008 32.3227 27.9833 32.6604 29.2516 32.6604C30.6397 32.6604 31.7718 32.2568 32.5778 31.4507C33.4878 30.5406 34.3564 28.7306 33.3265 25.2764C32.7688 23.4058 31.7036 21.2828 30.277 19.1703C30.53 19.1378 30.785 19.1132 31.0418 19.0971C33.3653 18.9511 35.5524 17.9631 37.2001 16.315ZM20.2476 34.5837C18.2662 36.5654 15.6318 37.6568 12.8297 37.6568C10.0275 37.6568 7.39315 36.5654 5.41175 34.5837C1.32113 30.4924 1.32113 23.8355 5.41175 19.7443C6.54135 18.6144 7.8694 17.7797 9.36104 17.2593C9.77424 18.0219 10.2422 18.7942 10.758 19.5643C9.44025 19.92 8.24682 20.609 7.26104 21.5949C4.19081 24.6657 4.19081 29.6621 7.26104 32.7329C8.74846 34.2206 10.726 35.0399 12.8296 35.0399C14.9332 35.0399 16.9109 34.2206 18.3983 32.7329C19.371 31.7599 20.0683 30.5494 20.4272 29.2353C21.1974 29.7513 21.9697 30.2194 22.7324 30.6328C22.2155 32.1095 21.3619 33.4692 20.2476 34.5837ZM12.2774 21.6532C13.1507 22.7642 14.1093 23.8475 15.1271 24.8655C16.1432 25.8817 17.2243 26.8389 18.3331 27.7112C18.2078 28.979 17.6433 30.173 16.7405 31.076C15.6959 32.1208 14.307 32.6962 12.8296 32.6962C11.3524 32.6962 9.96346 32.1208 8.91885 31.076C6.76214 28.9188 6.76214 25.409 8.91885 23.2519C9.80697 22.3637 10.9338 21.8167 12.1776 21.67C12.2115 21.6661 12.2445 21.6599 12.2774 21.6532ZM31.08 25.9458C31.6183 27.751 31.5599 29.1535 30.9199 29.7936C30.0904 30.6233 28.0833 30.4756 25.5508 29.3985C22.7018 28.1869 19.5068 25.9307 16.785 23.2085C14.0633 20.4864 11.8074 17.2907 10.596 14.4411C9.519 11.9079 9.37135 9.90013 10.2011 9.07029C10.8392 8.43217 12.2363 8.3724 14.0341 8.90639C15.8808 9.45482 18.0418 10.5891 20.1866 12.1264C19.648 13.5418 18.8288 14.8252 17.7678 15.8865L17.5127 16.1417C17.0551 16.5993 17.0551 17.3411 17.5126 17.7987L22.0809 22.3677C22.3007 22.5876 22.599 22.7111 22.91 22.711C23.2209 22.711 23.5191 22.5874 23.739 22.3674L23.7955 22.3107C24.9324 21.1736 26.3119 20.3085 27.8318 19.7598C29.3815 21.9146 30.526 24.0879 31.08 25.9458ZM22.942 19.914L19.9804 16.9518C21.879 14.7934 23.0283 12.0146 23.2381 9.04006C23.3562 7.3667 24.0595 5.77741 25.2187 4.56499C26.5533 3.16913 28.3612 2.38093 30.3097 2.34554C32.2579 2.3103 34.0875 3.03069 35.4688 4.37429C36.8661 5.73335 37.643 7.55428 37.6565 9.5017C37.6701 11.4496 36.9193 13.2808 35.5423 14.6579C34.2986 15.9019 32.6479 16.6477 30.8947 16.7578C27.9249 16.9443 25.1404 18.0559 22.942 19.914Z' fill='%23303030'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_154'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.item-06 {
  top: -3px;
  grid-area: item06;

  @include tablet {
    top: 0;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.8281 18.8281H1.17188C0.524687 18.8281 0 19.3528 0 20C0 26.1525 3.735 31.697 9.375 34.0491V36.4062C9.375 37.0534 9.89969 37.5781 10.5469 37.5781H29.4531C30.1003 37.5781 30.625 37.0534 30.625 36.4062V34.0491C36.2928 31.6854 40 26.1237 40 20C40 19.3528 39.4753 18.8281 38.8281 18.8281ZM37.6026 21.1719C37.5291 21.9727 37.3799 22.7565 37.1631 23.5156H2.83687C2.62008 22.7565 2.47094 21.9727 2.39742 21.1719H37.6026ZM29.062 32.1404C28.5941 32.3061 28.2812 32.7487 28.2812 33.2451V35.2344H11.7188V33.2451C11.7188 32.7487 11.4059 32.3061 10.938 32.1404C7.76469 31.017 5.2357 28.727 3.76359 25.8594H36.2364C34.7644 28.727 32.2353 31.017 29.062 32.1404Z' fill='%23303030'/%3E%3Cpath d='M12.1401 13.7974C12.5977 14.2551 13.3397 14.2552 13.7974 13.7974C15.5467 12.0481 15.5467 9.20197 13.7974 7.45267C12.96 6.61525 12.9599 5.25994 13.7974 4.42244C14.255 3.96478 14.255 3.22283 13.7974 2.76517C13.3398 2.30752 12.5978 2.30752 12.1401 2.76517C10.3908 4.51447 10.3908 7.36064 12.1401 9.10994C12.9774 9.94736 12.9775 11.3027 12.1401 12.1402C11.6824 12.5978 11.6824 13.3398 12.1401 13.7974Z' fill='%23303030'/%3E%3Cpath d='M19.1713 13.7974C19.6289 14.2551 20.371 14.2552 20.8286 13.7974C22.5779 12.0481 22.5779 9.20197 20.8286 7.45267C19.9913 6.61525 19.9912 5.25994 20.8286 4.42244C21.2863 3.96478 21.2863 3.22283 20.8286 2.76517C20.371 2.30752 19.629 2.30752 19.1713 2.76517C17.4221 4.51447 17.4221 7.36064 19.1713 9.10994C20.0087 9.94736 20.0088 11.3027 19.1713 12.1402C18.7137 12.5978 18.7137 13.3398 19.1713 13.7974Z' fill='%23303030'/%3E%3Cpath d='M26.2026 13.7974C26.6602 14.2551 27.4022 14.2552 27.8599 13.7974C29.6092 12.0481 29.6092 9.20197 27.8599 7.45267C27.0226 6.61533 27.0224 5.25994 27.8599 4.42244C28.3175 3.96478 28.3175 3.22283 27.8599 2.76517C27.4023 2.30752 26.6603 2.30752 26.2026 2.76517C24.4533 4.51447 24.4533 7.36064 26.2026 9.10994C27.0399 9.94728 27.04 11.3028 26.2026 12.1402C25.7449 12.5978 25.7449 13.3398 26.2026 13.7974Z' fill='%23303030'/%3E%3C/svg%3E%0A");
  }
}