.itc-select {
  position: relative;
  display: flex;
  gap: 5px;
  cursor: pointer;

  @include tablet {
    width: 100%;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: $white;
    opacity: 0.7;
    text-align: left;
    cursor: pointer;
    user-select: none;

    &:focus {

      outline: none;
    }

    @include desktop {
      width: 100px;
      margin-right: auto;
    }
  }

  &_show .itc-select__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    position: absolute;
    top: -26px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;

    @include laptop {
      top: -20px;
      right: 0;
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    left: -75px;
    z-index: 2;
    display: none;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 134px 109px;
    row-gap: 20px;
    width: 282px;
    min-height: 381px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    padding: 19px;
    cursor: default;
  }

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: $primary;
    text-align: center;
  }

  &_show .itc-select__dropdown {
    display: grid;
  }

  &_show .itc-select__backdrop {
    display: block;
  }

  &__options {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    height: 240px;
    border-right: 1px solid #C0C0C0;
  }

  &__options2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 25px;

    .itc-select__option {
      color: $primary;
    }
  }

  &__btn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $white;
    background: $secondary;
    border-radius: 8px;
    padding: 10px 30px;
  }

  &__option {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #C0C0C0;
    text-align: center;
    cursor: pointer;
  }

  &__option_selected {
    font-size: 16px;
    color: $secondary;
  }

  &__option:hover {
    color: $secondary;
  }
}

.itc-select1 {
  position: relative;
  display: flex;
  gap: 5px;
  cursor: pointer;

  @include tablet {
    width: 100%;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: $white;
    opacity: 0.7;
    text-align: left;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &_show .itc-select1__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    position: absolute;
    top: -26px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;

    @include laptop {
      top: -20px;
      right: 0;
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    left: 35px;
    z-index: 2;
    display: none;
    width: 49px;
    min-height: 273px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }

  &_show .itc-select1__dropdown {
    display: block;
  }

  &_show .itc-select1__backdrop {
    display: block;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    color: $primary;
  }

  &__option {
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $primary;
    text-align: center;
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      font-size: 18px;
    }
  }

  &__option_selected {
    font-size: 18px;
    color: $secondary;
  }
}

.itc-select2 {
  position: relative;
  display: flex;
  gap: 5px;
  cursor: pointer;

  @include tablet {
    width: 100%;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    height: 32px;
    color: $white;
    opacity: 0.7;
    text-align: left;
    cursor: pointer;
    user-select: none;
    margin-right: auto;

    &:focus {
      outline: none;
    }
  }

  &_show .itc-select2__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    position: absolute;
    top: -26px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;

    @include laptop {
      top: -20px;
      right: 10px;
    }

    @include desktop {
      right: 0;
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    left: -45px;
    z-index: 2;
    display: none;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    cursor: default;
    padding: 20px;
  }

  &_show .itc-select2__dropdown {
    display: block;
  }

  &_show .itc-select2__backdrop {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: $primary;
    text-align: center;
    margin-bottom: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 179px;
    color: $primary;
    margin-bottom: 20px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $primary;
    cursor: pointer;
    outline: none;
  }

  &__input {
    width: 16px;
    height: 16px;
    border: 1px solid $primary;
  }

  &__option_selected {
    color: $secondary;
  }

  &__btn {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $white;
    background-color: $secondary;
    border-radius: 8px;
    padding: 10px 30px;
    margin-left: auto;
  }
}

#select-4 {

  & .itc-select__toggle {
    font-weight: 900;
    font-size: 12px;
    line-height: 130%;
    color: $primary;
    border: none;
    background-color: transparent;

    &::placeholder {
      font-weight: 300;
      font-size: 12px;
      line-height: 130%;
      color: #AFAFAF;
      opacity: 0.7;

      @include tablet {
        font-size: 14px;
      }
    
      @include laptop {
        font-size: 16px;
      }
    }
  }

  & .itc-select__arrow {
    position: absolute;
    top: -25px;

    @include tablet {
      top: -9px;
      right: -5px;
    }

    @include laptop {
      top: -10px;
      font-size: 16px;
    }
  }
}

.itc-select5 {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 133px;
  cursor: pointer;

  @include tablet {
    gap: 3px;
    width: 100%;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: $primary;
    border: none;
    text-align: left;
    cursor: pointer;
    user-select: none;

    &::placeholder {
      color: #AFAFAF;
      opacity: 0.7;
    }
    
    &:focus {
      outline: none;
    }
  }

  &_show .itc-select5__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    position: absolute;
    top: -25px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;

    @include tablet {
      top: -8px;
      right: -5px;
    }

    @include laptop {
      top: -10px;
      right: -4px;
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    left: 35px;
    z-index: 2;
    display: none;
    width: 49px;
    min-height: 273px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }

  &_show .itc-select5__dropdown {
    display: block;
  }

  &_show .itc-select5__backdrop {
    display: block;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    color: $primary;
  }

  &__option {
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $primary;
    text-align: center;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      font-size: 18px;
    }
  }

  &__option_selected {
    font-size: 18px;
    color: $secondary;
  }

  & [type=number]::-webkit-inner-spin-button {
    display: none;
    // appearance: none;
  }
}

.itc-select6 {
  position: relative;
  display: flex;
  gap: 5px;
  width: 133px;
  cursor: pointer;

  @include tablet {
    gap: 3px;
    width: 100%;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: $primary;
    text-align: left;
    border: none;
    cursor: pointer;
    user-select: none;
    margin-right: auto;

    &::placeholder {
      color: #AFAFAF;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }

  &_show .itc-select6__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    position: absolute;
    top: -24px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;

    @include tablet {
      top: -8px;
      right: -5px;
    }

    @include laptop {
      top: -10px;
      right: -4px;
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    left: -45px;
    z-index: 2;
    display: none;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    cursor: default;
    padding: 20px;
  }

  &_show .itc-select6__dropdown {
    display: block;
  }

  &_show .itc-select6__backdrop {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: $primary;
    text-align: center;
    margin-bottom: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 179px;
    color: $primary;
    margin-bottom: 20px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $primary;
    cursor: pointer;
    outline: none;
  }

  &__input {
    width: 16px;
    height: 16px;
    border: 1px solid $primary;
  }

  &__option_selected {
    color: $secondary;
  }

  &__btn {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $white;
    background-color: $secondary;
    border-radius: 8px;
    padding: 10px 30px;
    margin-left: auto;
  }
}