.tour {
  position: relative;
  padding-top: 20px;
  background-image: url('../img/tour/bg-tablet.jpg');
  background-image: image-set(
    url('../img/tour/bg-tablet@2x.avif') 2x,
    url('../img/tour/bg-tablet.avif') 1x,
    url('../img/tour/bg-tablet@2x.webp') 2x,
    url('../img/tour/bg-tablet.webp') 1x,
    url('../img/tour/bg-tablet@2x.jpg') 2x,
    url('../img/tour/bg-tablet.jpg') 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    padding-top: 40px;
    min-height: 500px;
  }

  @include laptop {
    padding-top: 80px;
    background-image: url('../img/tour/bg-laptop.jpg');
    background-image: image-set(
      url('../img/tour/bg-laptop@2x.avif') 2x,
      url('../img/tour/bg-laptop.avif') 1x,
      url('../img/tour/bg-laptop@2x.webp') 2x,
      url('../img/tour/bg-laptop.webp') 1x,
      url('../img/tour/bg-laptop@2x.jpg') 2x,
      url('../img/tour/bg-laptop.jpg') 1x
    );
  }

  @include desktop {
    padding-top: 100px;
    background-image: url('../img/tour/bg-desktop.jpg');
    background-image: image-set(
      url('../img/tour/bg-desktop@2x.avif') 2x,
      url('../img/tour/bg-desktop.avif') 1x,
      url('../img/tour/bg-desktop@2x.webp') 2x,
      url('../img/tour/bg-desktop.webp') 1x,
      url('../img/tour/bg-desktop@2x.jpg') 2x,
      url('../img/tour/bg-desktop.jpg') 1x
    );
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $white;
    margin-bottom: 15px;

    @include tablet {
      padding-left: 8px;
      margin-bottom: 30px;
    }

    @include laptop {
      padding-left: 0;
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 60px;
    }
  }

  &__subtitle {
    max-width: 352px;
    color: $white;
    margin-bottom: 25px;

    @include tablet {
      padding-left: 8px;
      margin-bottom: 40px;
    }

    @include laptop {
      max-width: 540px;
      padding-left: 0;
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__description {
    max-width: 352px;
    color: $white;
    margin-bottom: 25px;

    @include tablet {
      padding-left: 8px;
    }

    @include laptop {
      padding-left: 0;
      margin-bottom: 83px;
      max-width: 480px;
    }

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__form-wrapper {
    width: 250px;
    padding: 25px 25px 25px 25px;
    margin: 0 auto;
    background-color: rgba(230, 205, 173, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 12px 12px 0px 0px;

    @include tablet {
      position: absolute;
      right: 34px;
      top: -40px;
      height: 500px;
      width: 300px;
      padding: 30px;
    }

    @include laptop {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      height: 230px;
      border-radius: 20px 20px 0px 0px;
      padding: 50px 60px;
    }

    @include desktop {
      height: 266px;
      border-radius: 30px 30px 0px 0px;
      padding: 68px 60px;
    }
  }

  &__form-form {
    background-color: rgba(33, 25, 25, 0.78);
    border-radius: 10px;
    padding: 16px 34px 25px;

    @include tablet {
      padding: 28px 30px 30px 40px;
    }

    @include laptop {
      display: flex;
      gap: 23px;
      justify-content: space-between;
      border-radius: 16px;
      padding: 35px 20px 24px;
    }

    @include desktop {
      border-radius: 20px;
      padding: 35px 38px 24px 40px;
    }
  }

  &__form-fieldset {
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-bottom: 40px;

    @include tablet {
      gap: 52px;
      margin-bottom: 40px;
    }

    @include laptop {
      display: flex;
      flex-direction: row;
      gap: 37px;
      margin-bottom: 0;
    }

    @include desktop {
      gap: 61px;
      max-width: 729px;
      width: 100%;
    }
  }

  &__form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 700;
    line-height: 130%;
    color: $white;
    outline: none;
    cursor: pointer;

    @include tablet {
      padding-left: 10px;
    }

    @include laptop {
      gap: 18px;
      width: 155px;
      font-size: 16px;
      padding-left: 0;
      margin-bottom: 0;
    }

    @include desktop {
      width: 195px;

      &:last-child {
        width: 217px;

        @include desktop {
          width: 195px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .itc-select__arrow {
      background-color: $white;
    }

    &:hover .itc-select1__arrow {
      background-color: $white;
    }

    &:hover .itc-select2__arrow {
      background-color: $white;
    }

    &:hover .itc-select__arrow svg {
      color: $secondary;
    }

    &:hover .itc-select1__arrow svg {
      color: $secondary;
    }

    &:hover .itc-select2__arrow svg {
      color: $secondary;
    }

    &:focus .itc-select__arrow svg {
      color: $secondary;
    }

    &:focus .itc-select1__arrow svg {
      color: $secondary;
    }

    &:focus .itc-select2__arrow svg {
      color: $secondary;
    }

    &:active, &:active .itc-select__toggle {
      color: $secondary;
    }

    &:active, &:active .itc-select1__toggle {
      color: $secondary;
    }

    &:active, &:active .itc-select2__toggle {
      color: $secondary;
    }

    &:active .itc-select__arrow, 
    &:active .itc-select1__arrow,
    &:active .itc-select2__arrow {
      background-color: transparent;
    }
  }

  &__form-label_options {

    @include laptop {
      width: 152px;
    }
  }

  &__form-placeholder {
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: $white;
    opacity: 0.7;

    @include tablet {
      width: 125px;
      font-size: 14px;
    }

    @include laptop {
      font-size: 16px;
    }
  }

  &__form-date {
    position: fixed;
    transform: scale(0);
  }

  &__button {
    display: block;
    width: 132px;
    text-align: center;
    padding: 8px 20px 6px;
    margin: 0 auto;

    @include tablet {
      position: relative;
      width: 169px;
      padding: 11px 20px 9px;
    }

    @include laptop {
      right: 0;
      top: -5px;
      align-self: center;
      width: 189px;
      padding: 12px 30px;
      margin: 0;
    }

    @include desktop {
      top: -7px;
      width: 219px;
      padding: 19px 55px;
    }
  }
}
